<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Appenders>
	<RollingFile name="rollingfile" fileName="logging.log"
		filePattern="logging.log">
		<PatternLayout>
			<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} %msg%n
			</pattern>
		</PatternLayout>
		<Policies>
		  <OnStartupTriggeringPolicy />				
		</Policies>
	</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="rollingfile" level="all"/>
		</Root>
	</Loggers>
</Configuration>